.gradle/
.intellijPlatform/
**/build/
**/target/
.idea/
*.iml
local.properties
.tools/
.sandbox/
*.hprof
**/.bsp/
**/.scala-build/
examples/hello-scala/null/
outputs/
.env
.env.*
!.env.example
*.kdbx
*.kdb
